.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 12rem;
  height: 12rem;
}

.circular-bar-container {
  --progress-width: 0.75rem;

  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px dashed violet;
}

.progress-circle {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;

  fill: none;
}

.progress-circle circle {
  width: 100%;
  height: 100%;
  stroke-width: calc(var(--progress-width) / 2);

  /* Radius is provided to the center of border.
  To place the circle exactly inside of the container, we need to subtract half stroke-width */
  r: calc(50% - var(--progress-width) / 4);
}

.back-circle {
  stroke: var(--secondary-color);
}

.value-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  stroke: var(--primary-color);
}
